.tw-followCard {
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: .8rem;
    /* background-color: rgb(59, 59, 59); */
    padding: 6px;
    border-radius: 14px;
    box-shadow: 0 0 5px -3px white;
    min-width: 320px;
    width: 100%!important;
    gap: 4px;
   

    & header {
        display: flex;
        align-items: center;
        gap: 4px
    }

    & div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    & span { opacity: .6;}

    & img {
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }

    & .follow {
        margin-left: 16px !important;
        background-color: rgb(241, 241, 241);
        color: rgb(0, 0, 0);
        border: 0 !important;
        border-radius: 20px;
        padding: 4px 15px;
        line-height: 20px;
        transition: all .1s ease-in-out;
        min-width: 120px;
    }
    & .followText { display: block; }
    & .following { background-color: rgb(104, 148, 243); color: white; }

    & .following:hover {
        background-color: rgba(255, 0, 0, 0.226);
        color: red;
    }
    & .unfollowText {
        display: none;

    }
    & .following:hover .followText{display: none;}
    & .following:hover .unfollowText{display: block;}

    & .unfollow:hover {
        background-color: rgb(104, 148, 243);
        color: rgb(255, 255, 255);
    }

    & button:active {
        outline: 0;
    }
    & button:focus {
        box-shadow: 0 0 10px 0px white;
        outline: 0;
    }
}